# Ignore everything
**

# Allow only
!CMakeLists.txt
!scripts
!scripts/**
!src
!src/**
!include
!include/**
!tests
!tests/**
!vendor
!vendor/**
!config
!config/**
!.gitmodules
!corpus/
!seeds/
!tools/
