# Disallow everything
*

# Allow only
!infrastructure/
!infrastructure/**
!.clang-format
!.dockerignore
!.github/
!.github/**/*
!.gitignore
!Dockerfile
!README.md
!CMakeLists.txt
!docker-compose.yml
!docker/
!docker/**/*
!fuzzer/
!fuzzer/README.md
!include/
!include/**/*
!src/
!src/**/*
!tests/
!tests/**/*
!vendor/
!vendor/**/*
!pb/
!pb/**/*
!config/
!config/**/*
!tests/
!tests/**/*
!.gitmodules
!scripts/
!scripts/**/*
!seeds/
!seeds/**/*
!proto-seeds/
!proto-seeds/**/*
!coverage-history/
!coverage-history/**/*
!*.nix
!example/
!example/**/*
!docs/
!docs/**/*
!tools/
!tools/seed-generation/
!tools/seed-generation/**/*

# Always disallow
.DS_Store
__pycache__/
*.lock.hcl
*.terraform/
*.backup
