[submodule "fuzzer/vendor/TPM"]
	path = fuzzer/vendor/TPM
	url = https://github.com/TrustedComputingGroup/TPM.git
[submodule "fuzzer/vendor/libprotobuf-mutator"]
	path = fuzzer/vendor/libprotobuf-mutator
	url = https://github.com/google/libprotobuf-mutator.git
