[submodule "vendor/TPM"]
	path = vendor/TPM
	url = https://github.com/TrustedComputingGroup/TPM.git
[submodule "vendor/libprotobuf-mutator"]
	path = vendor/libprotobuf-mutator
	url = https://github.com/google/libprotobuf-mutator.git
