# Disallow everything
*

# Allow only
!.dockerignore
!.gitignore
!Dockerfile*
!README.md
!docker-compose.yml
!fuzzer/
!fuzzer/CMakeLists.txt
!fuzzer/src
!fuzzer/src/**/*
!fuzzer/vendor
!fuzzer/vendor/TPM
!fuzzer/vendor/CMakeLists.txt
