# Disallow everything
*

# Allow only
!infrastructure/
!infrastructure/**
!.dockerignore
!.github/
!.github/**/*
!.gitignore
!Dockerfile*
!README.md
!docker-compose.yml
!fuzzer/
!fuzzer/.clang-format
!fuzzer/CMakeLists.txt
!fuzzer/Dockerfile
!fuzzer/include/
!fuzzer/include/**/*
!fuzzer/scripts/
!fuzzer/scripts/**/*
!fuzzer/src
!fuzzer/src/**/*
!fuzzer/tests
!fuzzer/tests/**/*
!fuzzer/vendor
!fuzzer/vendor/**/*
!fuzzer/proto
!fuzzer/proto/**/*
!fuzzer/pb
!fuzzer/pb/**/*
!patches/
!patches/**/*
!scripts/
!scripts/**/*
!seeds/
!seeds/**/*
!coverage-history/
!coverage-history/**/*
!*.nix

# Always disallow
__pycache__/
*.lock.hcl
*.terraform/
*.backup
